PORT=8000
MONGO_URI=mongodb+srv://manishsainicom14_db_user:4dJlZkF2GAyB7jBJ@backend.wgn3hdm.mongodb.net
ACCESS_TOKEN_SECRET=jdfldjjfdsjfdlkfjdfjeeoireoejforefreouejreuoiuerifujoirfereoy5u94hrhtreht
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=CJ0FJSDLFJEORI0358430U4RU340934JER3490JFDLSKFJLJDLSFJLKJDSF
REFRESH_TOKEN_EXPIRY=10d